<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bt.edu.cst.easycst">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cstlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cstlogo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoHome">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".maintain"
            android:noHistory="true"
            android:theme="@style/AppThemeNoHome"
            android:parentActivityName=".Home"
            android:label="Maintenance Registration" />
        <activity
            android:name=".register"
            android:label="Create Your Account" />
        <activity
            android:name=".Feedback"
            android:label="Feedback"
            android:parentActivityName=".Home" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Help"
            android:label="Help"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Attendance"
            android:label="Attendance Tracking"
            android:parentActivityName=".Home" />
        <activity
            android:name=".AddModule"
            android:label="Add Module"
            android:parentActivityName=".Attendance" />
        <activity
            android:name=".UpdateModule"
            android:label="Update Module"
            android:parentActivityName=".Attendance" />
        <activity
            android:name=".TimeTable"
            android:label="Time Table"
            android:parentActivityName=".Home"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".TimeTable"
            android:label="Settings"/>
        <activity
            android:name=".HomeworksActivity"
            android:label="Assignments"
            android:parentActivityName=".Home"
            ></activity>
    </application>

</manifest>